
<div class="detail-pane" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      Details
    </div>
  </md-toolbar>
  <md-card ng-show="!$ctrl.selected.length">
    <md-card-content>
      Select a character to get started
    </md-card-content>
  </md-card>
  <md-card layout="column" ng-repeat="person in $ctrl.selected">
    <md-card-title>
      <md-card-title-text><strong>{{person.name}}</strong></md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div>
        <strong>Gender: </strong> {{person.gender | na}}
      </div>
      <div layout="row">
        <div class="detail-pane--height" flex="30">
          <strong>Height: </strong> {{person.height | na}}
        </div>
        <div class="detail-pane--mass" flex="30">
          <strong>Mass: </strong> {{person.mass | na}}
        </div>
      </div>
      <div layout="row">
        <div class="detail-pane--hair" flex="30">
          <strong>Hair: </strong> {{person.hair_color | na}}
        </div>
        <div class="detail-pane--eyes" flex="30">
          <strong>Eyes: </strong> {{person.eye_color | na}}
        </div>
        <div class="detail-pane--skin" flex="30">
          <strong>Skin: </strong> {{person.skin_color | na}}
        </div>

      </div>
    </md-card-content>
  </div>
</div>