@import url(https://fonts.googleapis.com/css?family=Geostar);

.main {
  position: relative;
}

.header {
  position: relative;
  background-color: rgba(0,0,0,1);
}

.logo {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

.header {
  padding: 1rem;
}

.headline {
  font-family: 'Geostar';
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    display: inline;
    margin: 0 0;
    
  }

  .headline {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.people-list--deselect {
  padding-top: 0.5rem;
}

.person {
  position: relative;
}

.person--selected {
  background-color: rgba(255,152,0, 0.50);
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  outline: 0;
}


.person i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.person strong {
  display: block;
  padding-left: 1.25rem;
}

.person--selectable {
  cursor: pointer;
}

.person--name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
}

.loading {
  margin: 0.5rem auto;
}

.detail-pane {
  height: 100%;
}

.detail-pane--person {
  width: 100%;   
}

