<md-toolbar>
  <div class="md-toolbar-tools">
    People
  </div>
</md-toolbar>

<md-list 
    infinite-scroll="$ctrl.onInfiniteScroll()"
    infinite-scroll-disabled="false"
    class="people-list">

  <md-subheader>
    You've selected {{$ctrl.totalSelected()}} of {{$ctrl.maxSelectable}} characters
    <div class="people-list--deselect">
      <md-button
        class="md-raised md-primary"
        ng-show="$ctrl.selected.length"
        ng-click="$ctrl.deselectAll()">Deselect all</md-button>
    </div>
  </md-subheader>
  <list-item 
    ng-repeat="person in $ctrl.list" 
    model="person"
    intent$="$ctrl.intent$" 
    display-value="person.name"
    on-selected="$ctrl.addSelected($event.model)"
    on-deselected="$ctrl.removeSelected($event.model)"></list-item>
</md-list>