<md-toolbar>
  <div class="md-toolbar-tools">
    People
  </div>
</md-toolbar>

<md-list 
    infinite-scroll="$ctrl.onInfiniteScroll()"
    infinite-scroll-disabled="false"
    class="people-list">

  <md-subheader>
    You've selected {{$ctrl.totalSelected()}} of {{$ctrl.maxSelectable}} characters
    <div class="people-list--deselect">
      <md-button
        class="md-raised md-primary"
        ng-show="$ctrl.selected.length"
        ng-click="$ctrl.deselectAll()">Deselect all</md-button>
    </div>

  </md-subheader>

  <md-list-item 
      ng-class="{ 
        'person': true, 
        'person--selected': $ctrl.isSelected(person.id), 
        'person--selectable': $ctrl.canSelectMore() || $ctrl.isSelected(person.id)}"
      ng-repeat="person in $ctrl.list"
      ng-click="$ctrl.toggle(person.id)">
    <i ng-class="{
      'fa': true,
      'fa-plus': !$ctrl.isSelected(person.id),
      'fa-minus': $ctrl.isSelected(person.id)}" 
      aria-hidden="true"></i>
      
    <strong class="person--name">{{person.name}}</strong>

  </md-list-item>
</md-list>